.productImg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.productCard {
  width: 300px;
  margin: 1.5rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1.5rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.productCard h3 {
  text-align: center;
  font-weight: 500;
}

.productPrice {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.buttonLink {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: #206088;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s;
  align-self: flex-start;
  margin: 0 auto;
}

.buttonLink:hover {
  background-color: #15415c;
}
