.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 100%;
}

.itemDetail {
  margin: 2rem;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.imgItemDetail {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.cardItemDetail {
  padding: 2rem;
  background-color: #fff;
  text-align: center;
}

.titleItemDetail {
  font-size: 2rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
}

.descriptionItemDetail {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .itemDetail {
    flex-direction: row;
    margin: 3rem 7rem;
  }

  .imgItemDetail {
    margin: 0;
  }

  .cardItemDetail {
    text-align: left;
  }
}
